---
import { getEntry } from 'astro:content';
import Base from '../layouts/Base.astro';
import Sidebar from '../components/Sidebar.astro';
import MobileMenu from '../components/MobileMenu.astro';
import CookieConsent from '../components/CookieConsent.astro';
import Img from '../components/Img.astro';
import { getNav } from '../lib/nav';
import { inline } from '../lib/text';

const about = (await getEntry('globals', 'about'))!.data as any;
const nav = await getNav('about');
const wfPageId = '6a4619bec66319687dc36926';
---

<Base title={about.title} ogTitle={about.title} wfPageId={wfPageId} bodyClass="body about">
  <section class="section about">
    <MobileMenu nav={nav} current="about" />
    <Sidebar nav={nav} current="about" worksClicked={true} />
    <div class="main-body about">
      <div class="capital text-size about" set:html={inline(about.text)}></div>
      <div class="div-block-79">
        <a href={about.requestsLink ?? '#'} class="sidebar-button text-size w-button">{about.requestsLabel}</a>
        <a href={`mailto:${about.email}`} class="sidebar-button text-size w-button">{about.emailLabel}</a>
        <div class="div-block-67">
          <div class="capital text-size linus">Website Design: </div>
          <a href={about.designerUrl} class="w-inline-block"><Img src={about.designerLogo} class="nosedive-logo" /></a>
        </div>
        <div class="div-block-68">
          <a href="/legal/" class="sidebar-button text-size legal w-button">Legal</a>
          <a fs-cc="open-preferences" href="#" class="sidebar-button text-size legal w-button">Cookies</a>
        </div>
      </div>
    </div>
    <CookieConsent wfPageId={wfPageId} formElementId="0f7b3dbc-0593-0d98-f467-2203ce0b194f" />
  </section>
</Base>
